.grid {
  display: grid;
  grid-auto-flow: column;
}

.flex {
  display: flex;
}

.space-around{
  justify-content: space-around;
}
.space-between{
  justify-content: space-between;
}

.no-style{
   list-style: none;
}

.hidden{
    display: none;
}