.editor-container {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  margin: 20px;
  margin-inline: auto;
}

.canvas-container {
  margin-inline: auto;
  width: 60vw;
  background-color: rgb(236, 228, 228);
  border: 1px solid rgb(214, 205, 205);
}

.editor-container .actions-container {
  display: flex;
  flex-direction: column;

  gap: 5px;
  width: max-content;
  border: 3px solid black;
  padding: 10px;

  border-radius: 10px;
}
