.editor-container {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  margin: 20px;
  margin-inline: auto;

  
}

.canvas-container {
  margin-inline: auto;
  width: 40vw;
  background-color: rgb(236, 228, 228);
  border: 1px solid rgb(214, 205, 205);
}

.editor-container .actions-container {
  display: flex;
  flex-direction: column;

  gap: 5px;
  width: max-content;
  height: max-content;
  border: 3px solid black;
  padding: 10px;

  border-radius: 10px;
}

.actions-container input,
.actions-container label {
  font-size: 14px;
}

.actions-container label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

