.search-section {
  justify-content: space-between;

  align-items: center;
  gap:30px;
  padding-inline: 20px;
}

.key-words ul {
  gap: 10px;
}

.key-words ul li{
    cursor: pointer;
    padding: 2px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    user-select: none;
}

.key-words ul li:hover{
    cursor: pointer;
    padding: 2px;
    border: 1px solid rgb(124, 120, 120);
    border-radius: 3px;
}
