.search-section {
  /* justify-content: space-between; */
  position: relative;

  align-items: center;
  gap: 30px;
  padding-inline: 20px;
  margin-block-start: 20px;
}

.key-words {
  margin-inline: auto;
}
.key-words ul {
  gap: 10px;
}

.key-words ul li {
  cursor: pointer;
  padding: 2px;
  border-radius: 3px;
  user-select: none;
  text-align: center;
}

.key-words ul li:hover {
  cursor: pointer;
  padding: 2px;
  border-radius: 3px;
}

.search-bar .search-meme {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
